<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-PRrgQVJ8NNHGieOA1grGdCTIt4h21CzJs6SnWH4YMQ6G5F5+IEzOHz67L4SQaF0o" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

    <title>Boofey</title>

    <style>
        #store_offline {
            margin-top: 180px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #store_offline h2,
        #store_offline h1 {
            display: block;
            margin: auto;
            text-align: center;
            opacity: 0.8;
            color: grey;
            font-weight: 600;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg" id="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="/collab/restaurant/admin/{{request.user}}/profile"><img src="/static/boofey-logo.png" alt=""
                    style="width: 200px; height: 84px; margin: -5% -13%;"></a>


            {% if user.is_authenticated %}
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <b>{{request.user}}</b>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item float-start" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>

    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show my-0" role="alert">
        {% if message.tags == 'danger' %}
        <strong>Error:</strong> {{message}}
        {% else %}
        <strong>{{message.tags}}:</strong> {{message}}
        {% endif %}
        <button type="button" style="right: 0;" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
    {% endfor %}


    <div id="store_offline">
        <h1>Your Profile Completion is pending! Click on Boofey icon to add profile.</h1>
        <h2 style="margin-top: 15px;">(Kindly complete your profile to access your account)</h2>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>

</html>